.slick {

  --color-main-1: #333;
  --color-main-2: #666;

  section {
    background: var(--color-main-1);
    border: 5px solid var(--color-main-2);
  }

  header {
    padding: 20px;
  }

  footer {
    font-weight: 400;
  }
}
